* {
    box-sizing: inherit;
}

.wrapper {    
    width: 100%;
    margin: auto;
    max-width: 1024px;
    min-height: auto;
    background-color: white;    
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-color: aliceblue;
}


header {
    background-image: url("space.webp");
    /*background-color: rgb(30, 31, 36);*/
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid black;
}

nav {
    display: block;
    unicode-bidi: isolate;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    padding: 0 1rem;
    overflow: hidden;
}

nav ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    margin: 10px;
    padding: 50px;
    border: 1px solid white;
}

nav ul li a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

nav ul li a:active {
    color: black;
    text-decoration: underline;
    background-color: white;
    border: 1px solid black;
}

.active {
    color: black;
    text-decoration: underline;
    background-color: white;
    border: 1px solid blue;    
}

img {
    max-width: 100%;
}

img.logo {
    display: block;
    height: 8rem;
    flex-grow: 0;
    flex-shrink: 0;
}
header div a {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

section {
    margin: 1px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
}

section ul li {
    margin-top: 50px;
}

footer {
    background-image: url("space.webp");
    /*background-color: rgb(30, 31, 36);*/
    color: white;
}

footer p {
    margin-left: 40px;
    float: left;
}

table {
    border: 1px solid black;
    width: 100%;
}

#addButton {
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 40px;
    height: 20px;
    background-color: rgb(15, 189, 93);
    color: white;
}

#clearButton {
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 130px;
    height: 20px;
    background-color: rgb(189, 15, 41);
    color: white;
}

thead, tbody, th {
    border-right: 1px solid black;
}

td {
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}

.lastHeader {
    border-right: 0px;
}

#userForm {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 50%;
    margin: auto;
    box-shadow: 0 10px 10px 0 black;
}

#user_input_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit {
    width: 200px;
    height: 20px;
    background-color: rgb(50, 111, 202);
    color: white;
    margin: auto;
}

